service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if (request.auth.uid == userId || request.auth.token.role == "admin") && request.resource.data.createdAt == request.time;
      allow write: if request.auth.token.role == "admin";
    }



    match /Websites/{document=**} {
      allow read;
      allow create: if request.auth.token.role == "admin";
      allow write: if request.auth.token.role == "admin";
    }
  }
}